<div class="container mgb">

  <h2 align="center">
    Usuarios registrados
  </h2>

  <hr>

  <table class="table table-hover mgt">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Contraseña</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
      <tr *ngFor="let usuario of usuarios">
        <td>
          <img [src]="usuario.img | img" class="imgSize">
        </td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <button class="btn btn-info">Cambiar contraseña</button>
        </td>
        <td>
          <button class="btn btn-success">Editar</button>
        </td>
        <td>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    <tbody>

    </tbody>
  </table>

</div>