<div class="container mgb">
  
  <div class="row">
    <h2 class="center-text">
      Usuarios registrados
    </h2>
    
    <button ngDraggable class="btn btn-add" (click)="modalNew.show()">Agregar</button>
  </div>

  <hr>

  <table class="table table-hover mgt">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
      <tr *ngFor="let usuario of usuarios">
        <td>
          <img [src]="usuario.img | img" class="imgSize">
        </td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <button class="btn btn-success">Editar</button>
        </td>
        <td>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    <tbody>

    </tbody>
  </table>

</div>

<div bsModal ngDraggable #modalNew="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-12 text-center">Agregar Usuario</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
