<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
  <a [routerLink]="['home']" class="navbar-brand d-flex w-50 mr-auto especial"><img src="assets/img/gdicon.png" width="30" height="30" alt=""> &nbsp; GoodDriver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Perfil</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['usuarios']">Usuarios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['reglas']">Reglas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['consejos']">Consejos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['tests']">Tests</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="root">
        <a class="nav-link" [routerLink]="['escuelas']">Escuelas</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item pointer">
        <a class="nav-link" (click)="logout()" >Salir <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>